/* Empty. Add your own CSS if you like */

*{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;	
}
h1{
	font-size: 16px;
}
/*--------------------------------------------------------------------------- CONTENIDO GENERAL */
.encabezado{
	position: relative;
}
h1.title{
	text-transform: uppercase;
}
.bar .title{
	font-size: 24px;
	text-align: right;
	font-family: 'Dosis', sans-serif;
}
.scroll-content{
	background: #EEE;
}
.no-scroll .scroll{
	height: 98%;
}
.info-title{
	font-size: 16px;
	padding: 5px 15px;
	-webkit-transform: skew(-25deg);
	background: linear-gradient(45deg, #3b679e 0%,#7db9e8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3b679e), color-stop(100%, #7db9e8));
	box-shadow: 0px 0px 5px #999;
	color: white;
	font-weight: bold;
	width: 80%;
	margin: 10px 0px 10px 0px;
	text-align: center;
	border: 1px #999 solid;
	font-family: 'Dosis', sans-serif;
}
.info-title span{
	-webkit-transform: skew(25deg);
	display: block;
}
.info-title.negative{
	background: linear-gradient(45deg, #888440 0%,#f0b840 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #888440), color-stop(100%, #f0b840))
}
.perfil{
	border-radius: 50%;
	margin: 5px auto;
}
.submenu .item-content{
	background: #eee;
}
.badge.badge-aqua{
	background-color: #41b296;
	color: #FFF;
}
.icon-ef-level-0{
	background: url(http://efectototal.com/app/_mobile/img/nv1.png) no-repeat center center;
}
.icon-ef-level-1{
	background: url(http://efectototal.com/app/_mobile/img/nv2.png) no-repeat center center;
}
.icon-ef-level-2{
	background: url(http://efectototal.com/app/_mobile/img/nv3.png) no-repeat center center;
}
.icon-ef-level-3{
	background: url(http://efectototal.com/app/_mobile/img/nv4.png) no-repeat center center;
}
.icon-ef-level-4{
	background: url(http://efectototal.com/app/_mobile/img/nv5.png) no-repeat center center;
}
.icon-ef-level-5{
	background: url(http://efectototal.com/app/_mobile/img/nv6.png) no-repeat center center;
}
.icon-ef-level-6{
	background: url(http://efectototal.com/app/_mobile/img/nv7.png) no-repeat center center;
}
.icon-ef-level-7{
	background: url(http://efectototal.com/app/_mobile/img/nv8.png) no-repeat center center;
}
.icon-ef-level-8{
	background: url(http://efectototal.com/app/_mobile/img/nv9.png) no-repeat center center;
}
.icon-ef-level-9{
	background: url(http://efectototal.com/app/_mobile/img/nv10.png) no-repeat center center;
}
.icon-ef-level-10{
	background: url(http://efectototal.com/app/_mobile/img/nv11.png) no-repeat center center;
}
/*.scroll-content{	
	background: #eee;
}*/				
/* ----------------------------------------------------------------------- CONECTATE CON FACEBOOK */
.login img.inicio{
	width: 100%;

}
.login div.boton-container{
	border-top: 1px solid #DDD;
	margin: 0 auto;
	width: 288px;
	border-bottom: 1px solid #DDD;
	position: relative;
	height: 49px;
}
.login button.facebook{
	position: absolute;
	color: #fff;
	background: #2A719D url(../img/iconF.png)no-repeat 5px;
	left: 25px;
	top: 4px;
	border: none;
	padding: 7px 7px 7px 40px;
	border-radius: 5px;
	border-top: solid #5C789D 1px; 
	border-bottom: solid #116A9D 1px;
	border-right: solid #116A9D 1px;
	text-shadow: 0 0.5px 0px rgba(0,0,0,1);
	font-size: 16px;
}
.login span{
	font-weight: bold;
}
.login p.cargando{
	font-family: 'Dosis', sans-serif;
	color: #DA3231;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}
.login img.efectoTotal{
	width: 50%;
	margin: 0 auto;
	display: block;
	border-top: 1px #FEF solid;
	padding-top: 10px;
}
/*--------------------------------------------------------------------------- PROFILE */
.contenidoPerfil{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
	padding: 20px;
}
.contenidoPerfil a.item.miPerfil{
	background: #f0f0f0;
	color: #919191;
}
.contenidoPerfil .list-inset{
	margin: -5px auto;
	width: 75%;
}
.contenidoPerfil .item-image img.perfil:first-child, .item-image .list-img {
	width: 55%;
}
.contenidoPerfil .item{
	border: #ddd 1px solid;
	background-color: #f0f0f0;
	color: #919191;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border: solid 1px #aaa;
	padding: 17px 0px 18px 0px;
}
.contenidoPerfil a.item:active  {
    background: #e01026;
    color: #fff;
}
.contenidoPerfil .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	background: #e5e5e5;
}
.contenidoPerfil .badge.badge-aqua{
	top: 5px;
}
.contenidoPerfil a.item.premio{
	padding: 7px 0px 7px 0px;
	height: 55px;
}
.contenidoPerfil div.stars{}
.contenidoPerfil div.stars i{
	width: 30px;
	height: 25px;
	display: block;
	background-size: contain;
	margin: 2px 0 0 6px;
	float: left;
}

/* -------------------------------------------------------------------------- PROFILE_ACTIVIDAD */
.contenidoPerfil_actividad{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
p.date-activity{
	color: #5a5a5a !important;
	bottom: 5px;
	font-size: 11px !important;
}
.contenidoPerfil_actividad h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoPerfil_actividad h1.encabezado i{
	float: left;
}
.contenidoPerfil_actividad .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoPerfil_actividad div.list.card{
	margin: 0px;
}
.contenidoPerfil_actividad div.list.historial{
	margin: 0px;
}
.contenidoPerfil_actividad .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoPerfil_actividad p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 0px 0px;	
	margin: 0;
}
.contenidoPerfil_actividad p{
	color: #5177c8;
	font-weight: 500;
	font-size: 15px;
	overflow: visible;
	white-space: normal;
	position: relative;
	padding-left: 20px;
	margin-top: -8px;
}
.contenidoPerfil_actividad p img{
	position: absolute;
	left: -10px;
}
.contenidoPerfil_actividad article{
	background: #f0f0f0;
	height: 55px;
	margin: 0px;
}
.contenidoPerfil_actividad .item-image{
	background: #e5e5e5;
	border: solid 1px #aaa; 
}
.contenidoPerfil_actividad .item{
	border: solid 1px #aaa;
	background: #f0f0f0;
	font-size: 12px; 
	height: 65px;
}
.contenidoPerfil_actividad .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	background: #d4d3d3; 
	height: auto;
}
.contenidoPerfil_actividad .card .historial .item:first-child{
	background: #f0f0f0;
	border: none;
}

/* -------------------------------------------------------------------------- CONTENIDO RETOS */
.contenidoRetos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoRetos div.stars{
	width: 200px;
	margin: 0 auto;
}
.contenidoRetos div.stars i{
	width: 30px;
	height: 30px;
	display: block;
	background-size: contain;
	margin: 2px 0 0 6px;
	float: left;
}
.contenidoRetos h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoRetos h2.ng-binding{
	font-size: 20px;
	font-family: "Dosis";
	color: #444;
	position: absolute;
	left: 10px;
	top: 6px;
}
.contenidoRetos .item-thumbnail-left, .item-thumbnail-left .item-content {
	min-height: 60px;
}
.contenidoRetos h1.encabezado i{
	float: left;
}
.contenidoRetos .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoRetos div.list.card{
	margin: 0px;
}
.contenidoRetos div.list.historial{
	margin: 0px;
}
.contenidoRetos .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoRetos p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 0px 0px;	
	margin: 0;
}
.contenidoRetos p{
	color: #444!important;
	font-weight: normal!important;
	font-size: 14px;
	position: absolute;
	left: 10px;
	top: 30px;
}
.contenidoRetos a.button {
	position: absolute;
	right: 5px;
	top: 7px;
}
.contenidoRetos article{
	background: #f0f0f0;
	height: 55px;
	margin: 0px;
}
.contenidoRetos .item-image{
	background: #e5e5e5;
	border: solid 1px #aaa; 
}
.contenidoRetos .item{
	border: solid 1px #aaa;
	background: #f0f0f0;
	font-size: 15px; 
}
.contenidoRetos .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	background: #d4d3d3; 
}
.contenidoRetos .card .historial .item:first-child{
	background: #f0f0f0;
	border: none;
}

/* -------------------------------------------------------------------------- BLOG */
.contenidoBlog{
	padding: 0 0 10px;
}
.contenidoBlog .loading{
	text-align: center;
	padding: 10px;
	font-size: 25px;
}
.contenidoBlog .card{
	margin: 12px;
	border: #aaa 1px solid;
	padding: 2px;
	background: #f0f0f0;
}
.contenidoBlog .fondoImg{
	margin: 25px 0px 65px;
	border-top: solid 1px #aaa;
	padding: 0px 30px 10px 30px;
	border-bottom: 1px solid #aaa;
	position: relative;
}
.contenidoBlog .full-image {
	width: 100%;
	margin: 15px auto;
}
.contenidoBlog .item-avatar{
	padding-left: 50px;
	min-height: 43px;
	position: relative;
}
.contenidoBlog p.fecha{
	width: 38px;
	border: solid #aaa 1px;
	height: 38px;
	font-size: 16px;
	text-align: center;
	color: #919191;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.contenidoBlog p.fecha span{
	font-size: 11px;
	font-weight: bold;
	color: #606060;
	display: block;
	line-height: 8px;
}
.contenidoBlog h2.name {
	font-size: 13px;
	color: #606060;
	/* margin-bottom: 5px; */
	font-size: 20px;
	/* margin-top: 0px; */
	font-size: 13px;
	position: absolute;
	top: 0;
	/* left: 10px; */
	margin: -12px 0px 0px 0px;
}
.contenidoBlog .row, .contenidoBlog .col{
	padding: 5px 0;
}
.contenidoBlog p.small{
	color: #41b296;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	position: absolute;
	top: 17px;
	font-size: 10px;
}
.contenidoBlog div.content{
	color: #444;
	font-size: 15px;
	line-height: auto;
	margin-top: 10px;
}
.contenidoBlog a.subdued {
	padding-right: 10px;
	color: #41b296;
	/* text-decoration: none; */
	/* margin: 0px 0px 0px 15px; */
	font-weight: bold;
	font-size: 10px;
	margin-top: 16px;
}
.contenidoBlog div.botonMas{
	text-align: center;
	width: 100%;
	border-top: 1px #aaa solid;
	position: absolute;
	bottom: -68px;
	left: 0;
	text-align: center;
}
.contenidoBlog .button-Plus.button-positive {
	font-size: 47px;
	background: none;
	border: none;
	color: #4a87ee;
	width: 100%;
}
.blogDetail{
	padding: 0 10px 20px;
}
.blogDetail button{
	float: right;
	margin: 5px 0;
}

/* -------------------------------------------------------------------------- CONTADOR DE CALORIAS*/
.contenidoContador{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoContador h1{
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	color: #fff;
	padding: 10px 0px 10px 0px;
	margin: 0;
}
.contenidoContador .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-ch ild {
	background: #d4d3d3; 
}
.contenidoContador .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoContador h1.encabezado{
	color: #fff;
	background: #41b296;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0px 10px 6px;
	margin: 0px 0px 0px -1px;
} 
.contenidoContador .item-image {
	background: #d4d3d3 url(../img/barras.png) no-repeat 0px -11px;
	border: #aaa solid 1px;
	background-size: 41%;
}
.contenidoContador p.progreso{
	font-size: 50px;
	color: #e0032a;
	font-family: sans-serif;
	font-weight: bold;
	padding: 17px 0px 17px 0px;
	text-align: center;
}
.contenidoContador p.progreso.small{
	font-size: 15px;
}
.contenidoContador progress-bar{
	display: block;
	background: #41b296;
	height: 80%;
	/*width: 95%;*/
	margin: auto;
	position: absolute;
	top: 0;
	left: 2%;
	bottom: 0;
}
.contenidoContador p.caloriasMenos{
	color: #5880d6;
	text-align: center;
}
.contenidoContador p.caloriasTotales{
	color: #e0032a;
	text-align: center;
}
.contenidoContador div.contenidoCal{
	border-bottom: solid 1px #aaa;
}
.contenidoContador input[type="range"] {
	padding: 0px 0px 0px 40px;
}
.contenidoContador .info-title{
	margin: 10px auto;
	display: block;
	min-height: 20px;
}
.contenidoContador button.info-title{
	width: 40%;
	margin-left: 85px;
}
.contenidoContador .info-title span {
	-webkit-transform: skew(25deg);
	display: block;
}
.contenidoContador p.inicioContador{
	color: #444;
	font-size: 26px;
	display: block;
	text-align: center;
}
.contenidoContador .left img{
	display: block;
	margin: 0 auto;
}
.contenidoContador .right img{
	display: block;
	margin: 0 auto;
}
.contenidoContador p.finContador{
	color: #e0032a;
	font-size: 26px;
	display: block;
	text-align: center;
}
/*
.contenidoContador .list:last-child {
	margin: -24px 0px 0px 0px;
	text-align: center;
}
.contenidoContador .list{
	margin: 5px auto;
}
*/
.contenidoContador .item{
	background: #f0f0f0;
	border: solid 1px #aaa;	
}
.contenidoContador .item-divider{
	color: #e0032a;
	font-size: 13px;
}
/*
.contenidoContador ul{
	text-align: center;
	color: #e0032a;
	border: solid 1px #aaa;
	background: #f0f0f0;
	border-top: none;
	margin: 0px 0px 5px -1px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	border-right: none;
} 
.contenidoContador li{
	color: #444;
	font-weight: normal;
}
*/
/*---------------------------------------------------------------- VIDEOS*/
.contenidoVideos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
/*
.contenidoVideos .bar.bar-energized{
	color: #fff;
	background: #fccd4f;
	font-weight: bold;
	position: relative;
	margin: 0px 0px -45px 0px;
}
*/
.contenidoVideos .bar{
	position: relative;
}
.contenidoVideos .bar .title {
	font-size: 16px;
	text-align: right;
	font-weight: bold;
}
.contenidoVideos .bar .title i{
	float: left;
}
.contenidoVideos div.videoEjercicio{

}
.contenidoVideos video{
	width: 100%;
}
.contenidoVideos .col-50{
	margin: -11px 0px 0px 0px;
}
.contenidoVideos p.text-1{
	font-size: 17px;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.contenidoVideos .info-title{
	font-size: 13px;
	margin: 0px 0px 15px 12px;
}
.contenidoVideos .info-title span{

}
.contenidoVideos .button.button-positive {
	position: relative;
	margin: -3px 11px 11px 10px;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	-webkit-transform: skew(-10deg);
	line-height: 13px;
}
.contenidoVideos a.masInfo{
	color: #5880d6;
	font-size: 13px;
	background: url(../img/flech-azul.png) no-repeat 0px 3px;
	padding: 0px 0px 0px 20px;
}
.contenidoVideos div.col{
	margin: 6px 1px -7px 0px;
	border-bottom: solid 1px #aaa;}
.contenidoVideos p.minutes{
	color: #000;
	font-size: 17px;
	line-height: 30px;
}
.contenidoVideos p.minutes span{
	display: block;
	color: #444;
	line-height: 1em;
	font-size: 14px;
}
.contenidoVideos p.minutes span.tiempo{
	font-size: 50px;
	color: #e0032a;
	font-weight: bold;
	font-family: sans-serif;
}
.contenidoVideos img.redest{
	padding: 0px 20px 0px 22px;
}
.contenidoVideos p.entrene{
	font-size: 13px;
	color: #444;
}
.contenidoVideos p.parraFo{
	color: #000;
	font-size: 13px;
	line-height: 16px;
}
.contenidoVideos p.parrafo0{
	color: #000;
	font-size: 13px;
	margin: 0px 0px 0px 10px;
	font-weight: bold;
}
.contenidoVideos p.parrafo1{
	color: #444;
	font-size: 13px;
	padding: 4px 10px 0px 10px;
}
.contenidoVideos p.parrafo1 span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #eee;
	text-align: center;
	margin-right: 5px;
	color: #888;
}
.contenidoVideos div.coment{
	background: #fff;
	padding: 11px 0px 11px 0px;
}
/* --------------------------------------------------------------- LOREM IPSUM "EL EQUIPO"*/
.contenidoEquipo{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoEquipo h1.encabezado{
	color: #fff;
	background: #000;
	font-weight: bold;
	font-size: 16px;
	margin: 0px 10px 0px 10px;
	font-family: 'Dosis';
	padding: 10px 10px 10px 197px;
	text-align: right;
} 
.contenidoEquipo .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoEquipo .item-image {
	background: #d4d3d3;
	border: #aaa solid 1px;
}
.contenidoEquipo .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoEquipo div.list{
	margin: 0px 10px 0px 10px;
}
.contenidoEquipo div.item img{
	width: 90%;
}
.contenidoEquipo p.textAvatar{
	background-color: rgba(0,0,0,0.6);
	padding: 11px;
	margin: 0px 10px 10px 14px;
	color: #fff;
	width: 252px;
	white-space: normal;
}
.contenidoEquipo .item{
	padding: 0px;
	background: #d4d3d3;
	border: solid 1px #aaa;
}
.contenidoEquipo img.imageFondo{
	border: solid 1px #aaa;
	margin: 5px 14px 0px;
	width: 94%;
}
.contenidoEquipo p.p1{
	font-size: 13px;
	color: #444;
	padding: 3px 0px 0px 7px;
}
.contenidoEquipo p.p2{
	overflow: visible;
	white-space: normal;
	font-size: 11px;
	line-height: 16px;
	padding: 15px 0px 0px 0px;
}
.contenidoEquipo p.p2 span{
	font-weight: bold;
}
.contenidoEquipo .row{
	padding: 0px;
}
.contenidoEquipo a img.icon{
	width: 20%;
}
/* --------------------------------------------------------------------------- MI PERFIL "INFORMACION" */
.contenidoIformacion{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoIformacion h1.encabezado{
	color: #fff;
	background: #919191;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Dosis';
	padding: 10px 10px 10px 160px;
	margin: 0;
	text-align: right;
}
.contenidoIformacion p{
	font-size: 16px;
	color: #444;
} 
.contenidoIformacion .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoIformacion h1.encabezado i{
	float: left;
}
.contenidoIformacion .item-image {
	background: #d4d3d3;
	border-bottom: #aaa solid 1px;
	border-top: #aaa solid 1px;
}
.contenidoIformacion .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoIformacion .card, .list-inset {
	margin: 0px;
	background: #f0f0f0;
}
.contenidoIformacion .info-title{
	margin-left: 30px;
}
.contenidoIformacion .info-title span{
	-webkit-transform: skew(25deg);
	display: block;
}
.contenidoIformacion .button.button-positive {
	position: relative;
	margin: -3px 11px 11px 10px;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	-webkit-transform: skew(-10deg);
	line-height: 13px;
}
.contenidoIformacion .button.button-positive {
	border-color: #145fd7;
	background-color: #4a87ee;
	color: #fff;
	font-size: 16px;
	margin: 28px 0px 25px 14px;
}
.contenidoIformacion .item-input p{
	color: #000;
	font-weight: bold;
}
.contenidoIformacion .item-input p.low{
	color: yellowgreen;
}
.contenidoIformacion .item-input p.normal{
	color: green;
}
.contenidoIformacion .item-input p.over{
	color: orange;
}
.contenidoIformacion .item-input p.oversize{
	color: red;
}
.contenidoIformacion th{
	width: 100px;
	text-align: center;
	padding: 5px;
}
.contenidoIformacion td{
	text-align: center;
	padding: 5px;
}
.contenidoIformacion td div{
	text-align: center;
}
.contenidoIformacion video{
	width: 100%;
}
/*
.contenidoIformacion .card .item:last-child, .list-inset .item:last-child {
	margin-bottom: -1px;
	margin: 14px 10px 10px 10px;
}
/*--------------------------------------------------------------------------------- VIDXCATEGOR*/
.contenidoVideosCatego{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoVideosCatego h1{
	background-color: #f0b840;
	color: #FFF;
	font-weight: bold;
	/*font-size: 16px;*/
	/* width: 302px; */
	font-family: 'Dosis';
	padding: 10px;
	margin: 0;
	text-align: right;
}
.contenidoVideosCatego .firstRow .col .poster{
	width: 40%;
	display: block;
	margin: 0 auto;
}
.contenidoVideosCatego .firstRow .col .video{
	width: 100%;
}
.contenidoVideosCatego img.poster{
	width: 100%;
}
.contenidoVideosCatego video.videos2{
	width: 100%;
}
.contenidoVideosCatego .btn-info{
	font-size: 12px;
	padding: 5px 15px;
	-webkit-transform: skew(-25deg);
	background: linear-gradient(45deg, #3b679e 0%,#7db9e8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3b679e), color-stop(100%, #7db9e8))
	box-shadow: 0px 0px 5px #999;
	color: white;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px #999 solid;
	display: block;
}
.contenidoVideosCatego .info-title span{
	-webkit-transform: skew(25deg);
	display: block;
}
.contenidoVideosCatego p.titulo{
	color: #000;
	font-size: 13px;
	margin: 0px;
}
.contenidoVideosCatego p.subtitulo{
	color: #5880d6;
	font-size: 16px;
	margin:0;
}
.contenidoVideosCatego p.text{
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.contenidoVideosCatego p.minutes{
	font-size: 20px;
	padding: 5px 0px 0px 25px
}
.contenidoVideosCatego p.time{
	color: #e0032a;
	font-size: 53px;
	padding: 15px 0px 0px 25px;
	font-family: sans-serif;
	font-weight: bold;
}
.contenidoVideosCatego .info-title{
	margin: 10px 0px 0px 15px
}
.contenidoVideosCatego .row.rowFirst{
	margin: 50px 0px 0px 0px
}
.contenidoVideosCatego h1.title{
	font-size: 16px;
	text-align: right;
}
.contenidoVideosCatego .ion-arrow-left-b{
	position: absolute;
	left: 30px;
}

.contenidoVideosCatego .bar.bar-energized {
	background-color: #fff;
	margin: 0px 0px 0px 8px;
	border-bottom: solid 1px #aaa;
	border-top: none;
	position: relative;
	margin: 0px 0px -46px 0px;
}
.contenidoVideosCatego .bar.bar-energized .title {
	color: #fff;
	font-size: 16px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
}
.contenidoVideosCatego div.row.rowFirst{
	padding: 0px;
	margin: 56px 0px 0px 0px;
}
.contenidoVideosCatego div.row{
	padding: 0px;
}
.contenidoVideosCatego .ion-arrow-left-b{
	position: absolute;
	left: 10px;
}
.contenidoVideosCatego video.videos1{
	height: 70px;
}
.contenidoVideosCatego p.titulo{
	color: #000;
	font-size: 13px;
	margin: 0px;
}
.contenidoVideosCatego p.subtitulo{
	color: #5880d6;
	font-size: 16px;
}
.contenidoVideosCatego video.videos2{
	width: 98%;
}
.contenidoVideosCatego .info-title {
	font-size: 13px;
	font-family: 'Dosis';
	margin: 10px 0px 10px 18px;
}
}
.contenidoVideosCatego .info-title span{
	-webkit-transform: skew(25deg);
	display: block;
}
.contenidoVideosCatego .button.button-positive {
	border-color: #145fd7;
	background-color: #4a87ee;
	color: #fff;
	margin: 25px 0px 0px 15px;
}
.contenidoVideosCatego div.col{
	text-align: center;
}
.contenidoVideosCatego ion-scroll{
	height: 335px;
}
.contenidoVideosCatego ion-scroll li{
	border-bottom: 1px dotted #aaa;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.contenidoVideosCatego img.redest{
	margin: 0px 0px 0px 65px;
}
.contenidoVideosCatego img.redesf{
	margin: 0px 20px 0px 0px;
}
.contenidoVideosCatego p.info{
	font-size: 20px;
	color: #5880d6;
	background: url(../img/flech-azul.png) no-repeat -2px 19px;
	padding: 14px 0px 0px 17px;
}
.contenidoVideosCatego div.col.redes{
	padding: 15px 0px 0px 25px;
}
.contenidoVideosCatego p.dificultad{
	color: #444;
	text-align: left;
	box-sizing: border-box;
	padding: 0 15px;
}
.contenidoVideosCatego img.ImgBanner{
	width: 135px;
	margin: 7px 0px 0px 6px;
}
.contenidoVideosCatego div.col.col-50{
	margin: 5px -5px 0px 0px;
}
.contenidoVideosCatego div.row.banner {
	background: #fff;
	margin: 0px;
}
.contenidoVideosCatego div.col.footer {
	border: none;
}

/* ---------------------------------------------------------------- TE RETO*/
.contenidoTe_reto{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoTe_reto h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 10px 10px 195px;
	font-family: 'Dosis';
	margin: 0px;
	text-align: right;
} 
.contenidoTe_reto .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoTe_reto p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 15px 0px 5px 0px;
	margin: 0;
	font-weight: bold;
}
.contenidoTe_reto .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoTe_reto p.iniciar{
	color: #5177c8;
	font-size: 17px;
	padding: 0px 0px 0px 55px;
}
.contenidoTe_reto .item-image{
	background: #e5e5e5;
	border: solid 1px #aaa; 
}
.contenidoTe_reto .item{
	border: solid 1px #aaa;
	background: #f0f0f0;
	font-size: 15px; 
}
.contenidoTe_reto label.item.item-input{
	background: #f0f0f0;
	margin: 10px 9px 0;
}
.contenidoTe_reto div.list.card{
	margin: 0px;
	background: #f0f0f0;
}
.contenidoTe_reto div.item.item-image{
	border-right: none;
	border-left: none;
	background: #d4d3d3;
}
.contenidoTe_reto input[type="text"]{
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}
.contenidoTe_reto input[type="date"]{
	text-align: center;
}
.contenidoTe_reto label.item.item-input.item-select{
	width: 94%;
	margin-left: 9px;
	/*margin: 12px 0px 0px 9px;*/
}
.contenidoTe_reto button.seleccionar{
	font-family: 'Dosis';
	color: #444;
	padding: 10px;
	font-weight: bold;
	margin: 9px 0px 9px 9px;
	width: 94%;
}
.contenidoTe_reto p.iniciar.enviar{
	font-size: 20px;
	color: #444;
	padding: 10px 55px 0px 70px;
	border-top: solid 1px #aaa;
}
.contenidoTe_reto .info-title{
	font-size: 13px;
	padding: 5px 15px;
	-webkit-transform: skew(-25deg);
	background: linear-gradient(45deg, #3d9b85 0%,#41c2a2 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3d9b85), color-stop(100%, #41c2a2))
	box-shadow: 0px 0px 5px #999;
	color: white;
	font-weight: bold;
	width: 80%;
	margin: 9px 28px;
	text-align: center;
	border: 1px #999 solid;
}
.contenidoTe_reto .info-title.crear{

	-webkit-transform: skew(-25deg);
	background: linear-gradient(45deg, #3b679e 0%,#7db9e8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3b679e), color-stop(100%, #7db9e8))
}
.contenidoTe_reto .info-title span {
	-webkit-transform: skew(25deg);
	display: block;
}
/* ------------------------------------- MIS RETOS*/
.contenidoMis_retos div.item.item-image {
	border-bottom: solid 1px #aaa;
	border-top: solid 1px #aaa;
	background: #d4d3d3;
}
.contenidoMis_retos .item-image img:first-child{
	width: 25%;
}
.contenidoMis_retos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoMis_retos h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoMis_retos h1.encabezado i{
	float: left;
}
.contenidoMis_retos p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 5px 0px;
	margin: 0;
	font-weight: bold;
}
.contenidoMis_retos p.iniciar{
	color: #5177c8;
	font-size: 24px;
	text-align: center;
}
.contenidoMis_retos p.versus{
	font-size: 44px;
	color: #1f2a84;
	font-weight: bold;
}
.contenidoMis_retos div.row{
	background: #f0f0f0;
}
.contenidoMis_retos div.col{
	text-align: center;
}
.contenidoMis_retos .card {
margin: 0px;
}
.contenidoMis_retos img.avatar{
	margin: 0px 0px 0px -62px;
}
.contenidoMis_retos img.avatarRetador{
	margin: 0px 0px 0px -21px;
}
.contenidoMis_retos p.jugador{
	font-size: 20px;
	color: #444;
	margin: 0px 0px 0px -28px;
}
.contenidoMis_retos p.jugador2{
	margin: 0px 0px 0px 14px;
	font-size: 20px;
	color: #444;
}
.contenidoMis_retos div.col.espacio{
	margin: 0px -39px 0px 0px;
}
.contenidoMis_retos .info-title {
	font-size: 16px;
	padding: 5px 15px;
	-webkit-transform: skew(-25deg);
	background: linear-gradient(45deg, #3b679e 0%,#7db9e8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3b679e), color-stop(100%, #7db9e8))
	box-shadow: 0px 0px 5px #999;
	color: white;
	font-weight: bold;
	width: 80%;
	margin: 25px 28px 6px;
	text-align: center;
	border: 1px #999 solid;
	font-family: 'Dosis';
}
.contenidoMis_retos .info-title span {
	-webkit-transform: skew(25deg);
	display: block;
}
.contenidoMis_retos .info-title.declinar {
	margin: 25px 0px 0px 0px;
	background: linear-gradient(45deg, #9d0000 0%,#c00101 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #9d0000), color-stop(100%, #c00101))
}
.contenidoMis_retos article{
	background: #f0f0f0;
	height: 67px;
}
.contenidoMis_retos div.borde{
	border-top: 1px solid #aaa;
	height: 60px;
}
/* ------------------------------------------------------------- RESULTADOS RETOS*/
.contenidoResultados_retos div.item.item-image {
	border-bottom: solid 1px #aaa;
	border-top: solid 1px #aaa;
	height: 56px;
	background: #d4d3d3;
}
.contenidoResultados_retos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;   
}
.contenidoResultados_retos h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 10px 10px 195px;
	width: 100%;
	font-family: 'Dosis';
	text-align: right;
	margin: 0px;
} 
.contenidoResultados_retos p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 5px 0px;
	margin: 0;
	font-weight: bold;
}
.contenidoResultados_retos p.iniciar{
	color: #5177c8;
	font-size: 24px;
	padding: 10px 0px 0px 82px;
}
.contenidoResultados_retos .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
.contenidoResultados_retos .card {
	margin: 0px;
}
.contenidoResultados_retos img.avatar{
	margin: 0px 0px 0px -65px;
}
.contenidoResultados_retos img.avatarRetador{
	margin: 0px 0px 0px -50px;
}
.contenidoResultados_retos p.versus{
	/*margin: 50px 0px 0px -30px;*/
	font-size: 44px;
	color: #1f2a84;
	font-weight: bold;
}
.contenidoResultados_retos p.jugador{
	font-size: 20px;
	color: #41b296;
	/*margin: 7px 0px 0px -35px;*/
}
.contenidoResultados_retos p.jugador2{
	/*margin: 0px 0px 0px -15px;*/
	font-size: 20px;
	color: #444;
}
.contenidoResultados_retos div.col.espacio{
	margin: 0px -39px 0px -33px;
}
.contenidoResultados_retos article {
	background: #f0f0f0;
	height: 67px;
}
.contenidoResultados_retos div.row{
	background: #f0f0f0;
}
.contenidoResultados_retos div.col{
	text-align: center;
}
.contenidoResultados_retos p.calorias{
	/*margin: 10px 0px 0px -31px;*/
	color: #41b296;
	font-size: 16px;
	font-weight: bold;
}
.contenidoResultados_retos p.quemadas{
	margin: 10px 0px 0px -70px;
	font-size: 16px;
	color: #41b296;
}
.contenidoResultados_retos p.calorias2{
	/*margin: 10px 0px 0px -5px;*/
	font-size: 16px;
}
.contenidoResultados_retos p.quemadas2{
	margin: 10px 0px 0px -50px;
	font-size: 16px;
}
.contenidoResultados_retos p.winner{
	padding: 22px;
	color: #e0032a;
	font-size: 23px;
	border-top: solid 1px #aaa;
}
.contenidoResultados_retos .perfil{
	width: 50%;
}
/* ------------------------------------------------------ NEWSFEED*/
.contenidoNewsfeed h1.encabezado{
	color: #fff;
	background: #e01026;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 10px 10px 13px;
	margin: 0px 10px 0px 10px;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoNewsfeed div.item.item-image{
	background: #d4d3d3;
	border-bottom: solid 1px #aaa;
}
.contenidoNewsfeed .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoNewsfeed p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 0px 0px;	
	margin: 0;
}
.contenidoNewsfeed .item-button-right img{
	vertical-align: middle;
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}
.contenidoNewsfeed p{
	color: #5177c8;
	font-weight: 500;
	font-size: 15px;
	position: relative;
	overflow: visible;
	white-space: normal;
	padding-left: 55px;
	margin-top: -5px;
}
.contenidoNewsfeed{
	margin: 0px 0px 10px 0px;
}
.contenidoNewsfeed article{
	background: #f0f0f0;
	height: 55px;
}
.contenidoNewsfeed img.icon-image{
	margin-left: -20px;
}
.contenidoNewsfeed div.list.card{
	margin: 0px 10px 0px 10px;
	border: 1px solid #aaa;
}
.contenidoNewsfeed a.item.item-avatar{
	background: #f0f0f0;
}  
.contenidoNewsfeed p.avatars{
	color: #444;
	font-size: 13px;
	padding: 10px 0px 0px 0px;
}
.contenidoNewsfeed .ion-arrow-right-b:before {
	margin: -25px 0px -2px 0px;
	float: right;
}
.contenidoNewsfeed .ion-arrow-left-b:before{
	position: absolute;
	left: 30px;
}
/* ------------------------------------------------------ MIS RUTINAS*/
.contenidoRutinas{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoRutinas h1.encabezado{
	color: #fff;
	background: #e01026;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoRutinas h1.encabezado i{
	float: left;
}
/*
.contenidoRutinas div.item.item-image{
	background: #d4d3d3;
	border-bottom: solid 1px #aaa;
}
*/
.contenidoRutinas .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoRutinas p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 0px 0px;
	margin: 0;
}
.contenidoRutinas p{
	color: #5177c8;
	font-weight: 500;
	font-size: 20px;
	padding: 0px 0px 0px 12px;
}
.contenidoRutinas article{
	background: #f0f0f0;
	height: 55px;
	border-top: solid 1px #aaa;
	margin: 0px;
}
.contenidoRutinas .ion-arrow-right-b:before {
	/*margin: -25px 0px -2px 0px;*/
	margin: -30px 20px 0px 0px;
	float: right;
}
.contenidoRutinas .ion-arrow-left-b:before{
	position: absolute;
	left: 30px;
}
.contenidoRutinas div.list.card{
	background: #f0f0f0;
	margin: 0px;
	padding: 0px;
}
.contenidoRutinas .card .item-image:first-child, .list-inset .item-image:first-child, .padding > .list .item-image:first-child{
	background: #d4d3d3;
}
/*
.contenidoRutinas div.list{
	margin: 5px 10px 0px 10px;
	background: #f0f0f0;
}
*/
.contenidoRutinas .item {
	border: solid 1px #aaa;
	background: #f0f0f0;
	font-size: 15px;
}
.contenidoRutinas a.item.item-avatar{
	margin-bottom: 5px;
	padding: 25px 0px 0px 62px;
	background: #f0f0f0;
	border: #aaa solid 1px;

}
.contenidoRutinas p.coach{
	font-size: 20px;
	text-align: center;
	color: #5880d6;
	padding-top: 10px;
}
.contenidoRutinas p.estadisticas{
	text-align: center;
	font-size: 19px;
	color: #e0032a;
}
.contenidoRutinas  div.entrenador{
	border: solid 1px #aaa;
	margin: 0px 9px 0px 9px;
}
.contenidoRutinas p.fecha {
	width: 40px;
	border: solid #aaa 1px;
	height: 38px;
	font-size: 16px;
	padding: 2px 8px 5px;
	color: #919191;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px 0px 0px 16px;
}
.contenidoRutinas p.fecha span {
	font-size: 11px;
	font-weight: bold;
	color: #606060;
	display: block;
	line-height: 8px;
}
.contenidoRutinas p.entrenamientos{
	border-left: 1px solid #aaa;
	padding-left: 5px;
}
/*
.contenidoRutinas .ion-arrow-right-b:before {
	margin: -28px 22px -2px 0px;
}
*/
/* ----------------------------------------------------------------------------- CALENDARIO RETOS*/
.contenidoCalendario_retos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoCalendario_retos h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 10px 10px 195px;
	width: 100%;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoCalendario_retos .perfil{
	width: 30%;
}
.contenidoCalendario_retos .card {
	margin: 0px;
}
/*
.contenidoCalendario_retos img.avatar{
	margin: 0px 0px 0px -62px;
}
.contenidoCalendario_retos img.avatarRetador{
	margin: 0px 0px 0px -21px;
}
*/
.contenidoCalendario_retos .curr img{
	border: #41b296 8px solid;
}
.contenidoCalendario_retos .curr p{
	color: #41b296;
}
.contenidoCalendario_retos .cont img{
	border: #aaa 8px solid;
}
.contenidoCalendario_retos .cont p{
	color: #aaa;
}
.contenidoCalendario_retos .cont-0 img{
	border: #FFBB00 8px solid;
}
.contenidoCalendario_retos .cont-0 p{
	color: #FFBB00;
}
.contenidoCalendario_retos .cont-1 img{
	border: #ff0 8px solid;
}
.contenidoCalendario_retos .cont-1 p{
	color: #ff0;
}
.contenidoCalendario_retos .cont-2 img{
	border: #0f0 8px solid;
}
.contenidoCalendario_retos .cont-2 p{
	color: #0f0;
}
.contenidoCalendario_retos .cont-3 img{
	border: #0ff 8px solid;
}
.contenidoCalendario_retos .cont-3 p{
	color: #0ff;
}
.contenidoCalendario_retos .cont-4 img{
	border: #00f 8px solid;
}
.contenidoCalendario_retos .cont-4 p{
	color: #00f;
}
.contenidoCalendario_retos .cont-5 img{
	border: #f0f 8px solid;
}
.contenidoCalendario_retos .cont-5 p{
	color: #f0f;
}
.contenidoCalendario_retos .cont-6 img{
	border: #808 8px solid;
}
.contenidoCalendario_retos .cont-6 p{
	color: #808;
}
.contenidoCalendario_retos .cont-7 img{
	border: #080 8px solid;
}
.contenidoCalendario_retos .cont-7 p{
	color: #080;
}
.contenidoCalendario_retos .cont-8 img{
	border: #008 8px solid;
}
.contenidoCalendario_retos .cont-8 p{
	color: #008;
}
.contenidoCalendario_retos .cont-9 img{
	border: #880 8px solid;
}
.contenidoCalendario_retos .cont-9 p{
	color: #880;
}
.contenidoCalendario_retos p.versus{
	font-size: 44px;
	color: #1f2a84;
	font-weight: bold;
}
.contenidoCalendario_retos .ion-arrow-left-b:before {
	position: absolute;
	left: 30px;
}
/*
.contenidoCalendario_retos p.jugador{
	font-size: 20px;
	color: #41b296;
	text-align: center;
}
.contenidoCalendario_retos p.jugador2{
	font-size: 20px;
	color: #444;
	text-align: center;
}
*/
.contenidoCalendario_retos div.col.espacio{
	margin: 0px -39px 0px 0px;
}
.contenidoCalendario_retos div.row{
	background: #f0f0f0;
}
.contenidoCalendario_retos div.col{
	text-align: center;
}
/*
.contenidoCalendario_retos p.totales{ 
	position: absolute;
	right: 18px;
	font-size: 16px;
	color: #e01026;
	margin-top: 5px;
}
.contenidoCalendario_retos p.quemadas{
	margin-top: 5px;
	color: #5177c8;
	font-size: 16px;
	position: relative;
	padding-left: 24px;
}
*/
.contenidoCalendario_retos div.row.text{
	border-top: solid 1px #aaa;
}
/*
.contenidoCalendario_retos div.grises{
	position: relative;
	float: left;
	margin: 0px 16px 0px 110px;
}
.contenidoCalendario_retos div.grises{
	position: relative;
	float: left;
	margin: 0px 16px 0px 110px;
}
.contenidoCalendario_retos div.rojos{
	position: absolute;
	right: 15px;
	top: 201px;
}
/*
.contenidoCalendario_retos p.uno{
	padding: 0px 0px 0px 3px;
	color: #444;
	font-size: 20px;
}
.contenidoCalendario_retos p.dos{
	font-size: 20px;
	color: #41b296;
}
.contenidoCalendario_retos p.tres{
	font-size: 20px;
	color: #e01026;
	padding-right: 7px;
}
*/
.contenidoCalendario_retos div.fondo{
	background: #f0f0f0;
	position: relative;
}
.contenidoCalendario_retos .round{
	background: #fff;
	/* padding: 0px; */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: right;
	position: relative;
}
.contenidoCalendario_retos .round i{
	position: absolute;
	top: 8px;
	left: -13px;
}
.contenidoCalendario_retos .round::after{
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	bottom: -7px;
	left: 12px;
}
.contenidoCalendario_retos .markers{
	position: relative;
	height: 85px;
}
.contenidoCalendario_retos .quemadas{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 0;
}
.contenidoCalendario_retos .quemadas h5{
	color: #1f2a84;
	margin: 0;
}
.contenidoCalendario_retos .quemadas p{
	margin: 0;
	text-align: center;
}
.contenidoCalendario_retos .quemadas .quem{
	width: 40px;
	display: block;
	position: absolute;	
	color: #aaa;
}
.contenidoCalendario_retos .quemadas .quem p{
	background: #eee;
}
.contenidoCalendario_retos .quemadas .quem .round{
	border: #aaa 3px solid;
}
.contenidoCalendario_retos .quemadas .quem-curr{
	color: #41b296;
	z-index: 1;
}
.contenidoCalendario_retos .quemadas .quem-curr .round{
	border: #41b296 3px solid;
}
.contenidoCalendario_retos .quemadas .quem-curr .round::after{
	border-top: 5px solid #41b296;	
}
.contenidoCalendario_retos .quemadas .quem-0{
	color: #FFBB00;
}
.contenidoCalendario_retos .quemadas .quem-0 .round{
	border: #FFBB00 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-0 .round::after{
	border-top: 5px solid #FFBB00;	
}
.contenidoCalendario_retos .quemadas .quem-1{
	color: #ff0;
}
.contenidoCalendario_retos .quemadas .quem-1 .round{
	border: #ff0 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-1 .round::after{
	border-top: 5px solid #FFBB00;	
}
.contenidoCalendario_retos .quemadas .quem-2{
	color: #0f0;
}
.contenidoCalendario_retos .quemadas .quem-2 .round{
	border: #0f0 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-2 .round::after{
	border-top: 5px solid #0f0;	
}
.contenidoCalendario_retos .quemadas .quem-3{
	color: #0ff;
}
.contenidoCalendario_retos .quemadas .quem-3 .round{
	border: #0ff 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-3 .round::after{
	border-top: 5px solid #0ff;	
}
.contenidoCalendario_retos .quemadas .quem-4{
	color: #00f;
}
.contenidoCalendario_retos .quemadas .quem-4 .round{
	border: #00f 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-4 .round::after{
	border-top: 5px solid #00f;	
}
.contenidoCalendario_retos .quemadas .quem-5{
	color: #f0f;
}
.contenidoCalendario_retos .quemadas .quem-5 .round{
	border: #f0f 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-5 .round::after{
	border-top: 5px solid #f0f;	
}
.contenidoCalendario_retos .quemadas .quem-6 p{
	color: #808;
}
.contenidoCalendario_retos .quemadas .quem-6 .round{
	border: #808 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-6 .round::after{
	border-top: 5px solid #808;	
}
.contenidoCalendario_retos .quemadas .quem-7 p{
	color: #080;
}
.contenidoCalendario_retos .quemadas .quem-7 .round{
	border: #080 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-7 .round::after{
	border-top: 5px solid #080;	
}
.contenidoCalendario_retos .quemadas .quem-8 p{
	color: #008;
}
.contenidoCalendario_retos .quemadas .quem-8 .round{
	border: #008 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-8 .round::after{
	border-top: 5px solid #008;	
}
.contenidoCalendario_retos .quemadas .quem-9 p{
	color: #880;
}
.contenidoCalendario_retos .quemadas .quem-9 .round{
	border: #880 3px solid;	
}
.contenidoCalendario_retos .quemadas .quem-9 .round::after{
	border-top: 5px solid #880;	
}
.contenidoCalendario_retos div.totales{
	position: absolute;
	right: 5%;
	top: 0;
	text-align: right;
	color: #f00;
	/* overflow: hidden; */
	/* padding-bottom: 10px; */
	height: 90px;
}
.contenidoCalendario_retos div.totales h5{
	color: #f00;
	margin: 0;
}
.contenidoCalendario_retos div.totales p{
	margin: 0;
}
.contenidoCalendario_retos div.totales .round{
	border: #f00 3px solid;
	margin-right: -13px;
}
.contenidoCalendario_retos div.totales .round::after{
	border-top: 5px solid #f00;
}
.contenidoCalendario_retos div.progress{
	clear: both;
	background: linear-gradient(45deg, #3b679e 0%,#7db9e8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3b679e), color-stop(100%, #7db9e8));
	width: 85%;
	margin: 5px auto;
	-webkit-transform: skew(-25deg);
	box-shadow: 0px 0px 5px #999;
	position: relative;
	height: 43px;
}
.contenidoCalendario_retos progress-bar{
	display: block;
	background: #41b296;
	height: 80%;
	/*width: 95%;*/
	margin: auto;
	position: absolute;
	top: 0;
	left: 2%;
	bottom: 0;
}
.contenidoCalendario_retos progress-bar.curr{
	z-index: 1;
}
.contenidoCalendario_retos progress-bar.cont{
	background: #e01026;
}
.contenidoCalendario_retos progress{
	position: absolute;
}
.contenidoCalendario_retos progress::-webkit-progress-value {
	background: #41b296;
}
.contenidoCalendario_retos .info-title{
	display: block;
	margin: 10px auto;
}
.contenidoCalendario_retos td{
	border: solid 1px #aaa;
	padding: 10px;
}
.contenidoCalendario_retos table{
	margin: 20px auto;
	width: 80%;
}
.contenidoCalendario_retos  div.list.card{
	background: #f0f0f0;
}
/*.contenidoCalendario_retos td.init{
	border-left: #1f2a84 2px solid;
}
.contenidoCalendario_retos td.end{
	border-right: #f00 2px solid;
}*/
.contenidoCalendario_retos td.background{
	background: #D1D1D1;
}
.contenidoCalendario_retos td.draw{
	background: #EEE;
}
.contenidoCalendario_retos td.contender{
	background: #FFBB00;
}
.contenidoCalendario_retos td.current{
	background: #41b296;
}
/*------------------------------------------- SUMATE */
.contenidoSumate{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoSumate h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0px 10px 195px;
	width: 100%;
	font-family: 'Dosis';
} 
.contenidoSumate .card {
	margin: 0px;
	background: #f0f0f0;
}
.contenidoSumate p.titulo{
	font-size: 35px;
	color: #5177c8;
	width: 241px;
	margin: auto;
	line-height: 44px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.contenidoSumate div.sumarte{
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.contenidoSumate p.sincronizando{
	text-align: center;
	color: #e01026;
}
.contenidoSumate img.suma{
	width: 35%;
	margin: 10px 0px 0px 95px;
}
.contenidoSumate div.efecto{
	background: url(../img/barras.png) no-repeat 0px 62px;
	height: 158px;
	background-size: 46%;
}
.contenidoSumate img.logo{
	width: 40%;
	margin: 0 auto;
	display: block;
	border-top: 1px #FEF solid;
	padding: 5px;
}
.contenidoSumate i.ion-arrow-left-b{
	margin: 0px 221px 0px -186px;
}
/*------------------------------------------- TOUR */
.contenidoTour{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoTour h1.encabezado{
	color: #fff;
	background: #1f2a84;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin: 0;
	font-family: 'Dosis';
	text-align: right;
} 
.contenidoTour h1.encabezado i{
	float: left;
}
.contenidoTour img{
	width: 90%;
	margin: 0px 0px 10px 15px;
}
.contenidoTour img.image3{
	width: 81%;
	margin: 0px 0px 10px 27px;
}
.contenidoTour div.slider-pager{
	bottom: 5px;
}
.contenidoTour span.slider-pager-page.active{
	color: #1f2a84;
}
.contenidoTour ion-slide.slider-slide{
	margin-bottom: 6px;
}