<ion-view title="MI PERFIL">
     <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     </ion-nav-buttons>
     <ion-content class="has-header">
          <div class="contenidoRutinas">
               <a href="#/app/perfil"><h1 class="encabezado"><i class="ion-arrow-left-b"></i>MIS RUTINAS</h1></a>
               <div class="list card">
         	    	<div class="item item-image">
     		   <img ng-src="http://graph.facebook.com/{{fbid}}/picture?height=200&width=200" class="perfil">
               </div>
          </div>
          <article>
               <p class="subtitulo">LISTAS DE RUTINAS</p>
          </article> 
          <div class="list historial">
               <div class="item item-button-right">
                    Crear una nueva rutina
                    <a ng-click="create()" class="button button-icon icon ion-plus-circled"></a>
               </div> 
               <ion-list can-swipe="true">
                    <ion-item ng-repeat="routine in routines" class="item-thumbnail-left">
                         <h2>{{routine.name}}</h2>
                         <a ui-sref="app.rutinas-videos({routine: routine.id_playlist})" class="button button-icon icon ion-chevron-right"></a>
                         <!--button ng-click="goto(routine.id_playlist)" class="button button-outline button-stable">
                              <i class="ion-chevron-right"></i>
                         </button-->
                         <ion-option-button class="button-outline button-icon icon ion-minus-circled" ng-click="remove($index)"> Eliminar</ion-option-button>
                    </ion-item>
               </ion-list>
          </div>
          <!--     
          <div class="list historial">
               <div class="item item-button-right">
                    Crear una nueva lista
                    <button ng-click="create()" class="button button-outline button-stable">
                         <i class="ion-plus-circled"></i>
                    </button>
               </div> 
               <div class="item item-button-right" ng-repeat="routine in routines">
                    {{routine.name}}
               	<button ng-click="goto(routine.id_playlist)" class="button button-outline button-stable">
               	    <i class="ion-chevron-right"></i>
               	</button>
                    <ion-option-button class="button-outline button-assertive button-icon icon ion-minus-circled" ng-click="remove($index)"></ion-option-button>
               </div>
          </div-->
     </ion-content>
</ion-view>
