<ion-view title="EL EQUIPO">
     <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     </ion-nav-buttons>
     <ion-content class="has-header">
          <div class="contenidoEquipo">
	          <h1 class="encabezado">EL EQUIPO</h1>
               <div class="list card">
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Rodrigo Mayén</p>
                                   <a class="external" fbid="721472817889225" href="http://www.facebook.com/RoEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/RoEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/RoEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106360051540865024"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--<p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p>-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/foto-1.png" class="imageFondo">
                              <p class="textAvatar">Estudio Relaciones internacionales.
                              Hago capoeira, practico wakeboard, corro y voy al gym.
                              Me motiva divertirme cuando practico los deportes que hago, estar en forma y rendir mejor en el día.</p>
                         </div>
                    </div>
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto_2.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Flor Escudero</p>
                                   <a class="external" fbid="" href="http://www.facebook.com/FlorEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/FlorEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/FlorEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106356280399925248"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--<p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p>-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/foto-2.png" class="imageFondo">
                              <p class="textAvatar">Estudio periodismo.
                              Me encanta correr al aire libre e ir al gym .
                              Me motiva lograr un cuerpo atlético y saludable. Me siento muy bien después de hacer ejercicio ya que disminuye mi ansiedad y me ayuda a dormir bien. </p>
                         </div>
                    </div>
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto_3.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Gerardo Rioseco</p>
                                   <a class="external" fbid="908737122476769" href="http://www.facebook.com/GerardoEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/GerardoEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/GerardoEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106359450501337088"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--<p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p>-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/foto-3.png" class="imageFondo">
                              <p class="textAvatar">Estudio Negocios Internacionales.
                              Me encanta jugar tennis, he estado en varios torneos internacionales y profesionales, hago triatlones y en general me gustan mucho todos los deportes.
                              Me motiva mantenerme activo y sano pero sobre todo, para mi, el deporte es un estilo de vida el cual te da mucha disciplina, te hace ser más competitivo y te envuelve en un entorno social de gente sana y alivianada.</p>
                         </div>
                    </div>
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto_4.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Ana Carola Rodríguez</p>
                                   <a class="external" fbid="359226750892474" href="http://www.facebook.com/AnaCarolaEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/AnaCarolaEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/AnaCarolaEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106358883267796992"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--<p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p>-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/foto-4.png" class="imageFondo">
                              <p class="textAvatar">Estudio Diseño de Indumentaria y Moda.
                              Voy al gym y tomo clases de ballet.
                              Me motiva estar contenta con mi cuerpo, relajarme, sacar la energía extra y ser una persona mas sana.</p>
                         </div>
                    </div>
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto_5.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Valeria Sánchez</p>
                                   <a class="external" fbid="898876896806662" href="http://www.facebook.com/ValeriaEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/ValeriaEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/ValeriaEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106357477072601088"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/_foto-5.png" class="imageFondo">
                              <p class="textAvatar">
                              Estudio Ingeniería Industrial.
                              Practico yoga, juego tennis y voy al gym.
                              Me motiva mantenerme sana y reducir el estrés para sentirme más activa todo el día.
                              </p>
                         </div>
                    </div>
                    <div class="item">
                         <div class="row">
                              <div class="col">
                                   <img src="./img/foto_6.png"> 
                              </div>
                              <div class="col-50"> 
                                   <p class="p1">Sofía Álvarez </p>
                                   <a class="external" fbid="1502846876598837" href="http://www.facebook.com/SofiaEfecto"><img src="./img/f.png" class="icon"></a>
                                   <a class="external"  href="http://www.twitter.com/SofiaEfecto"><img src="./img/t.png" class="icon"></a>
                                   <a class="external"  href="http://www.instagram.com/SofiaEfecto"><img src="./img/i.png" class="icon"></a>
                                   <a class="external"  href="https://vine.co/u/1106357477072601088"><img src="./img/v.png" class="icon"></a>          
                              </div>
                              <div class="col"> 
                                   <!--p class="p2">ESPECIALISTA <span>SEDUCCIÓN</span></p-->
                              </div>
                         </div>
                         <div>
                              <img src="./img/_foto-6.png" class="imageFondo">
                              <p class="textAvatar">
                              Estudio Diseño Gráfico.
                              Bailo danza árabe, practico box y voy al gym.Me motiva tener una vida sana a través del ejercicio. 
                              </p>
                         </div>
                    </div>
               </div>
               <!--div class="imageFondo"-->
          </div>
     </ion-content>
</ion-view>