<ion-view title="MI PERFIL">
    <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="contenidoCalendario_retos">
			<h1 class="encabezado">MIS RETOS</h1>
			<div class="list card">
			    <div  class= "row" > 
				  <div  class= "col" ></div> 
				  <div  class= "col" >
				  	<img src="./img/avatar.png" class="avatar">
				  	<p class="jugador">Mario</p>
				  </div> 
				  <div  class= "col" >
				  	<p class="versus">VS</p>
				  </div> 
				  <div  class= "col" >
				  	<img src="./img/foto.png" class="avatarRetador">
				  	<p class="jugador2">Juan</p>
				  </div> 
				  <div  class= "col espacio" >
				  </div> 
				</div>



	    </div>
    </ion-content>
</ion-view>








