<head>
  <style>
  </style>
</head>
<ion-view title="MI PERFIL">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="contenidoPerefil">
    <div class="list card">
    	<div class="item item-image">
			 <img src="./img/foto.png" class="perfil">
    	</div>
    	<a class="opcionPerfil" href="#"><span class="perfil">MI PERFIL</span></a>
  		<a class="opcionPerfil" href="#">MIS RUTINAS</a>
  		<a class="opcionPerfil" href="#">MI ACTIVIDAD</a>
  		<a class="opcionPerfil" href="#">MIS RETOS</a>
    </div>
  </ion-content>
</ion-view>
