<ion-view title="MI PERFIL">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header no-scroll">
  <div class="contenidoPerfil">
    <div class="list list-inset">
      <div class="item item-image">
       <img src="./img/foto.png" class="perfil">
      </div>
      <a class="item miPerfil" href="#/app/perfil_informacion">MI PERFIL</a>
      <a class="item" href="#/app/mis_rutinas">MIS RUTINAS</a>
      <a class="item" href="#/app/perfil_actividad">MI ACTIVIDAD</a>
      <a class="item" href="#/app/mis_retos">MIS RETOS</a>
    </div>
  </div>
  </ion-content>
</ion-view>
