/* Empty. Add your own CSS if you like */

*{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;	
}
/*--------------------------------------------------------------------------- CONTENIDO GENERAL */
.bar .title{
	font-size: 24px;
	text-align: right;
	font-family: 'Dosis', sans-serif;
}
/* ----------------------------------------------------------------------- CONECTATE CON FACEBOOK */
.contenidoLogin img.inicio{
	width: 100%;
}
.contenidoLogin div.boton{
	border-top: 1px solid #aaa;
	margin: 4px 0px 0px 15px;
	width: 288px;
	border-bottom: 1px solid #aaa;
	position: relative;
	height: 49px;
}
.contenidoLogin button.facebook{
	position: absolute;
	color: #fff;
	background: #2A719D url(../img/iconF.png)no-repeat 5px;
	left: 25px;
	top: 4px;
	border: none;
	padding: 7px 7px 7px 40px;
	border-radius: 5px;
	border-top: solid #5C789D 1px; 
	border-bottom: solid #116A9D 1px;
	border-right: solid #116A9D 1px;
	text-shadow: 0 0.5px 0px rgba(0,0,0,1);
	font-size: 16px;
}
.contenidoLogin span{
	font-weight: bold;
}
.contenidoLogin p.cargando{
	color: #DA3231;
	padding: 85px 0px 0px 120px;
}
.contenidoLogin img.efectoTotal{
	width: 50%;
	position: absolute;
	left: 81px;
	top: 372px;
}
/*--------------------------------------------------------------------------- PROFILE */
.contenidoPerfil{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
	padding: 20px;
	height: 425px;
}
.contenidoPerfil .list-inset{
	margin: 10px auto;
	width: 75%;
}
.contenidoPerfil .item-image img.perfil:first-child, .item-image .list-img {
	width: 55%;
}
.contenidoPerfil .item{
	border: #ddd 1px solid;
	background-color: #f0f0f0;
	color: #919191;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border: solid 1px #aaa;
}
.contenidoPerfil .miPerfil{
	background: #e01026;
	color: #FFF;	
}
.contenidoPerfil .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	background: #e5e5e5;
}
/* -------------------------------------------------------------------------- PROFILE_ACTIVIDAD */
.contenidoPerfil_actividad h1.encabezado{
	color: #fff;
	background: #1f2a84 url(../img/flecha.png)no-repeat 10px 15px;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0px 10px 195px;
	width: 300px;
	margin: 0px 0px 0px 10px;
	font-family: 'Dosis';
} 
.contenidoPerfil_actividad .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoPerfil_actividad p.subtitulo{
	text-align: center;
	color: #e01026;
	font-weight: 500;
	font-size: 20px;
	padding: 5px 0px 0px 0px;	
	margin: 0;
}
.contenidoPerfil_actividad p{
	color: #5177c8;
	font-weight: 500;
	font-size: 20px;
	padding: 0px 0px 0px 12px;
}
.contenidoPerfil_actividad article{
	background: #f0f0f0;
	height: 55px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.contenidoPerfil_actividad .item-image{
	background: #e5e5e5;
	border: solid 1px #aaa; 
}
.contenidoPerfil_actividad .item{
	border: solid 1px #aaa;
	background: #f0f0f0;
	font-size: 15px; 
}
.contenidoPerfil_actividad .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	background: #d4d3d3; 
}
.contenidoPerfil_actividad .card .historial .item:first-child{
	background: #f0f0f0;
}
/* -------------------------------------------------------------------------- BLOG */
.contenidoBlog .full-image {
	width: 87%;
	margin: 15px 17px;
}
.contenidoBlog p.fecha{
	width: 38px;
	border: solid #b1b1b1 1px;
	height: 38px;
	margin: 4px 0px 0px -50px;
	font-size: 16px;
	padding: 2px 8px 5px;
	color: #919191;
	overflow: hidden;
	position: absolute;
}
.contenidoBlog p.fecha span{
	font-size: 11px;
	font-weight: bold;
	color: #606060;
	display: block;
	line-height: 8px;
}
.contenidoBlog .fondoImg{
	padding: 20px;
	background: #f0f0f0;
	border: solid 1px #aaa;
}
.contenidoBlog div.borde{
	border-bottom: solid 1px #aaa;
	padding: 38px 0px 0px 
}
.contenidoBlog p.fecha{
	width: 38px;
	border: solid #aaa 1px;
	height: 38px;
	margin: 6px 0px 0px -53px;
	font-size: 16px;
	padding: 2px 8px 5px;
	color: #919191;
	overflow: hidden;
	position: absolute;
}
.contenidoBlog p.fecha span{
	font-size: 11px;
	font-weight: bold;
	color: #606060;
	display: block;
	line-height: 8px;
}
.contenidoBlog h2.name {
	font-size: 20px;
	color: #606060;
	margin-bottom: 5px;
	font-size: 20px;
	margin-top: 0px;
}
.contenidoBlog p.parrafo{
	color: #444;
	font-size: 15px;
	margin: -15px 0px 20px 14px;
}
.contenidoBlog p.dia{
	color: #41b296;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}
.contenidoBlog a.subdued {
	padding-right: 10px;
	color: #41b296;
	text-decoration: none;
	margin: 0px 0px 0px 15px;
	font-weight: bold;
}
.contenidoBlog div.botonMas{
	background: #f0f0f0;
	border: #b1b1b1 solid 1px;
	border-top: none;
	padding: 20px 0px 45px 0px;
	text-align: center;
}
.contenidoBlog .button-Plus.button-positive {
	font-size: 47px;
	background: none;
	border: none;
	color: #4a87ee;
}
/* -------------------------------------------------------------------------- CONTADOR DE CALORIAS*/
.contenidoContador{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
	padding: 20px;
}
.contenidoContador h1{
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	color: #fff;
	padding: 10px 0px 10px 0px;
	margin: 0;
}
.contenidoContador .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-ch ild {
	background: #d4d3d3; 
}
.contenidoContador .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoContador h1.encabezado{
	color: #fff;
	background: #41b296;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0px 10px 6px;
	width: 264px;
	margin: 0px 0px 0px -1px;
} 
.contenidoContador .item-image {
	background: #d4d3d3 url(../img/barras.png) no-repeat 0px -22px;
	border: #aaa solid 1px;
}
.contenidoContador p.progreso{
	font-size: 50px;
	color: #e0032a;
	font-family: sans-serif;
	font-weight: bold;
	padding: 17px 0px 17px 65px;
}
.contenidoContador p.caloriasMenos{
	color: #5880d6;
	display: inline-block;
	width: 165px;
	margin: 0px 0px 0px 5px;
}
.contenidoContador p.caloriasTotales{
	color: #e0032a;
	display: inline-block;
}
.contenidoContador div.contenidoCal{
	border: solid 1px #aaa;
	background: #f0f0f0;
	width: 264px;
	margin: 0px 0px 0px -1px;
}
input[type="range"] {
	margin: 0px 0px 21px 43px;
	padding: 0px 0px 0px 45px;
}
.contenidoContador img.lupa-verde{
	margin: 0px 0px 0px 35px;
}
.contenidoContador img.lupa-rojo{
	padding: 24px 0px 0px 117px;
}
.contenidoContador .button.button-positive {
	position: relative;
	margin: 0px 0px 11px 182px;
	font-size: 14px;
	padding: 0px 5px 0px 5px;
	-webkit-transform: skew(-10deg);
}
.contenidoContador p.inicioContador{
	color: #444;
	font-size: 26px;
	display: inline-block;
	padding: 0px 0px 0px 42px
}
.contenidoContador p.finContador{
	color: #e0032a;
	font-size: 26px;
	display: inline-block;
	padding: 0px 0px 0px 123px;
}
.contenidoContador .list:last-child {
	margin: -24px 0px 0px 0px;
}
.contenidoContador ul{
	text-align: center;
	color: #e0032a;
	border: solid 1px #aaa;
	background: #f0f0f0;
	border-top: none;
	width: 264px;
	margin: 0px 0px 5px -1px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
} 
.contenidoContador li{
	color: #444;
	font-weight: normal;
}
/*---------------------------------------------------------------- VIDEOS*/
.contenidoVideos{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoVideos .bar.bar-energized{
	color: #fff;
	background: #fccd4f;
	font-weight: bold;
	width: 302px;
	margin: 0px 0px 0px 9px;
}
.contenidoVideos .bar .title {
	font-size: 16px;
	text-align: left;
	font-weight: bold;
}
.contenidoVideos div.videoEjercicio{

}
.contenidoVideos video{
	width: 302px;
	margin: 44px 0px 0px 0px;
}
.contenidoVideos .col-50{
	margin: -11px 0px 0px 0px;
}
.contenidoVideos p.text-1{
	font-size: 16px;
	color: #444;
}
.contenidoVideos .button.button-positive {
	position: relative;
	margin: -3px 11px 11px 10px;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	-webkit-transform: skew(-10deg);
	line-height: 13px;
}
.contenidoVideos a.masInfo{
	color: #5880d6;
	font-size: 13px;
	background: url(../img/flech-azul.png) no-repeat 0px 3px;
	padding: 0px 0px 0px 20px;
}
.contenidoVideos div.col{
	margin: 6px 1px -7px 0px;
	border-bottom: solid 1px #aaa;}
.contenidoVideos p.minutes{
	color: #444;
	font-size: 17px;
	line-height: 30px;
}
.contenidoVideos p.minutes span.tiempo{
	font-size: 50px;
	color: #e0032a;
	font-weight: bold;
	font-family: sans-serif;
}
.contenidoVideos img.redest{
	padding: 0px 20px 0px 22px;
}
.contenidoVideos p.entrene{
	font-size: 13px;
	color: #444;
}
.contenidoVideos p.parraFo{
	color: #000;
	font-size: 13px;
	line-height: 16px;
}
.contenidoVideos p.parrafo0{
	color: #000;
	font-size: 13px;
	margin: 0px 0px 0px 10px;
	font-weight: bold;
}
.contenidoVideos p.parrafo1{
	color: #444;
	font-size: 13px;
	padding: 4px 10px 0px 10px;
}
.contenidoVideos div.coment{
	background: #fff;
	padding: 11px 0px 11px 0px;
}
/* --------------------------------------------------------------- LOREM IPSUM "EL EQUIPO"*/
.contenidoEQUIPO{
	width: 95%;
	background-color: #eee;
	border: #aaa 1px solid;
	margin: 5px auto;
}
.contenidoEquipo h1.encabezado{
	color: #fff;
	background: #000 url(../img/flecha.png)no-repeat 10px 15px;
	font-weight: bold;
	font-size: 16px;
	width: 300px;
	margin: 0px 0px 0px 10px;
	font-family: 'Dosis';
	padding: 10px 0px 10px 197px;
} 
.contenidoEquipo .item-image {
	background: #d4d3d3;
	border: #aaa solid 1px;
}
.contenidoEquipo .item-image img:first-child, .item-image .list-img {
	vertical-align: middle;
	width: 25%;
}
.contenidoEquipo div.list{
	margin: 0px 10px 0px 10px;
}
.contenidoEquipo div.item img{
	width: 90%;
}
.contenidoEquipo p.textAvatar{
	width: 151px;
	float: right;
	background-color: rgba(0,0,0,0.6);
	padding: 11px;
	margin-top: 25px;
	color: #fff;
}
.contenidoEquipo .item{
	padding: 0px;
	background: #d4d3d3;
	border: solid 1px #aaa;
}
.contenidoEquipo div.imageFondo{
	background: url(../img/foto-1.png)no-repeat;
	height: 400px;
	background-size: cover;
	border: solid 1px #aaa;
	margin: 0px 10px 0px 10px;
	border-top: none;
	padding: 0px 8px 0px 0px;
}
.contenidoEquipo p.p1{
	font-size: 13px;
	color: #444;
	padding: 3px 0px 0px 7px;
}
.contenidoEquipo p.p2{
	overflow: visible;
	white-space: normal;
	font-size: 11px;
	line-height: 16px;
	padding: 15px 0px 0px 0px;
}
.contenidoEquipo p.p2 span{
	font-weight: bold;
}
.contenidoEquipo .row{
	padding: 0px;
}
.contenidoEquipo a img.icon{
	width: 20%;
}